<div class="page">
       <header>
              <h1>Event Application</h1>
       </header>

       <!-- Button for event creation -->
       <div class="row justify-content-center">
              <button class="btn text-center create-button"
                      (click)="onCreate(createModalData)">Add new event</button>
       </div>


       <!-- List of events -->
       <div class="row">
              <div class="col-sm">
                     <h2>Future events:</h2>
                     <app-event-list [events]="futureEvents"></app-event-list>
              </div>
              <div class="col-sm">
                     <h2>Past events:</h2>
                     <app-event-list [events]="pastEvents"></app-event-list>
              </div>
       </div>

</div>

<!-- Content for create modal -->
<ng-template #createModalData
             let-modal>
       <div class="modal-header">
              <h4 class="modal-title"
                  id="modal-basic-title">Create event</h4>
       </div>
       <div class="modal-body">
              <form>
                     <!-- Title -->
                     <div class="form-group">
                            <label for="title">Event title</label>
                            <input type="text"
                                   class="form-control"
                                   id="title"
                                   name="title"
                                   placeholder="Event title"
                                   [(ngModel)]="eventTitle">
                     </div>

                     <!-- Description -->
                     <div class="form-group">
                            <label for="description">Event description</label>
                            <input type="text"
                                   class="form-control"
                                   id="description"
                                   name="description"
                                   placeholder="Event description"
                                   [(ngModel)]="eventDescription">
                     </div>

                     <!-- Start date -->
                     <div class="form-group">
                            <label for="startDate">Start date</label>
                            <div class="input-group"
                                 name="startDate">

                                   <input class="form-control"
                                          placeholder="yyyy-mm-dd"
                                          id="start"
                                          name="dp"
                                          [(ngModel)]="startDate"
                                          ngbDatepicker
                                          #d="ngbDatepicker">
                                   <div class="input-group-append">
                                          <button class="btn btn-outline-secondary calendar"
                                                  (click)="d.toggle()"
                                                  type="button"></button>
                                   </div>
                            </div>
                     </div>

                     <!-- Start time -->
                     <ngb-timepicker [(ngModel)]="time"
                                     name="time"></ngb-timepicker>
              </form>


       </div>
       <div class="modal-footer">
              <button type="button"
                      class="btn create-button"
                      (click)="modal.close('create')">Create</button>
              <button type="button btn-secondary"
                      class="btn"
                      data-dismiss="modal"
                      (click)="modal.close()">Close</button>
       </div>
</ng-template>
